[submodule "themes/harbor"]
	path = themes/harbor
	url = https://github.com/matsuyoshi30/harbor.git
[submodule "sallyom.github.io"]
	path = sallyom.github.io
	url = git@github.com:sallyom/sallyom.github.io.git
